/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}
.plan-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.plan-matrix__img {
  width: 100%;
}
.plan-matrix .plan-matrix__link {
  font-family: "Fantasy", cursive;
}

@media (max-width:768px) {
.plan-matrix { text-align: center;
}
}
.plan-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.add-item__input,.check-plan-list-item__title,
.plan-list-item__input,
.plan-list-completed-item__title {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.add-item__wrapper {
  display: flex;
}
.plan-list,.plan-list-completed {
  margin:0;
  padding: 0px;
}
.check-plan-list-item,.plan-list-item,.plan-list-completed-item,.title {
  list-style:none;
}
.add-item__input,.add-item__button,.check-plan-list-item__input,.check-plan-list-item__save-button,.check-plan-list-item__delete-button,.plan-list-item__input,.plan-list-item__save-button,.plan-list-item__delete-button,.plan-list-completed-item__input,.plan-list-completed-item__save-button,.plan-list-completed-item__delete-button{
  outline:none;
}
.add-item__button,.check-plan-list-item__save-button,.check-plan-list-item__delete-button,.plan-list-item__save-button,.plan-list-item__delete-button,.plan-list-completed-item__save-button,.plan-list-completed-item__delete-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.add-item__button:hover,.check-plan-list-item__save-button:hover,.check-plan-list-item__delete-button:hover,.plan-list-item__save-button:hover,.plan-list-item__delete-button:hover,.plan-list-completed-item__save-button:hover,.plan-list-completed-item__delete-button:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.add-item__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-item__input,.check-plan-list-item__input,.plan-list-item__input,.plan-list-completed-item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}
.add-item__input:focus,.check-plan-list-item__input:focus,.plan-list-item__input:focus,.plan-list-completed-item__input:focus {
  color: #333;
}

/* New Task */
.add-item__title {
  display: block;
  margin: 0 0 20px;
}
.add-item__input{
  width: 318px;
}

/* Task list */
.check-plan-list-item,.plan-list-item,.plan-list-completed-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.check-plan-list-item__input-check,.plan-list-item__check,.plan-list-completed-item__input {
  margin: 0 10px;
}
.check-plan-list-item__title,.plan-list-item__title,.plan-list-completed-item__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.check-plan-list-item__input,.plan-list-item__input,.plan-list-completed-item__input {
  width: 226px
}
.check-plan-list-item__delete-img,
.plan-list-item__delete-img,
.plan-list-completed__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.check-plan-list-item__delete-img:hover,
.plan-list-item__delete-img:hover,
.plan-list-completed__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.plan-list-completed-item__title {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.plan-list-completed-item__input,.plan-list-item__input,.check-plan-list-item__input {
  display:none
}

.plan-list-item__input {
  display:inline-block;
  width:224px
}

.plan-list-item__title {
  display:none;
}